/vendor/
/node_modules/
.phpunit.result.cache
.env
/storage/
bootstrap/cache/
/public/storage
.idea/
.vscode/
.DS_Store
application/vendor/
application/node_modules/
application/public/storage
application/storage/
application/bootstrap/cache/
application/.env
application/.env.*
!application/.env.example
application/.phpunit.result.cache
